<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandy.guoguo.babylib" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity
            android:name=".ui.SetContentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="locale|keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!--监听网络状态
        <receiver android:name=".utils.NetWorkChangReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        -->
    </application>
</manifest>
